.container {
  position: relative;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  font-family: inherit;

  .label {
    width: fit-content;
    font-weight: 400;
    color: $color-text;

    &_disabled {
      color: $color-disabled;
    }
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    border: none;
    border-radius: 6px;

    background-color: $bg-default;
    outline: none;

    &.large {
      height: 40px;
      padding: 7px 11px;
      font-size: 16px;
    }

    &.default {
      height: 32px;
      padding: 4px 11px;
      font-size: 14px;
    }

    &.small {
      height: 24px;
      padding: 0 7px;
      font-size: 12px;
    }

    &.outlined {
      border: 1px solid $border-color;

      &:hover {
        border: 1px solid $border-hover;
      }

      &:has(.input:focus),
      &:has(.input:focus-visible) {
        border: 1px solid $border-focus;
      }

      &.error {
        border: 1px solid $border-error;

        &:hover {
          border: 1px solid $border-error-hover;
        }

        &:has(.input:focus),
        &:has(.input:focus-visible) {
          border: 1px solid $border-error;
        }
      }

      &.disabled {
        pointer-events: none;
        border: 1px solid $border-disabled;
        background-color: $bg-disabled;
      }
    }

    &.filled {
      background-color: $bg-filled-input;

      &:hover {
        background-color: $bg-filled-input-hover;
      }

      &:has(.input:focus),
      &:has(.input:focus-visible) {
        border: 1px solid $border-focus;
        background-color: $bg-default;
      }

      &.error {
        border: 1px solid $border-error;
        background-color: $bg-error;

        &:hover {
          border: 1px solid $border-error-hover;
          background-color: $bg-error-hover;
        }

        &:has(.input:focus),
        &:has(.input:focus-visible) {
          border: 1px solid $border-error;
          background-color: $bg-default;
        }
      }

      &.disabled {
        pointer-events: none;
        background-color: $bg-disabled;
      }
    }

    &.borderless {
      border: none;

      &.error {
        background-color: $bg-error;

        &:hover {
          background-color: $bg-error-hover;
        }
      }

      &.disabled {
        pointer-events: none;
        background-color: $bg-disabled;
      }
    }

    &.underlined {
      border-bottom: 1px solid $border-color;
      border-radius: 0;

      &:hover {
        border-bottom: 1px solid $border-hover;
      }

      &:has(.input:focus),
      &:has(.input:focus-visible) {
        border-bottom: 1px solid $border-focus;
      }

      &.error {
        border-bottom: 1px solid $border-error;

        &:hover {
          border-bottom: 1px solid $border-error-hover;
        }

        &:has(.input:focus),
        &:has(.input:focus-visible) {
          border-bottom: 1px solid $border-error;
        }
      }

      &.disabled {
        border-bottom: 1px solid $border-disabled;
      }
    }

    .input {
      flex: 1;

      height: 100%;
      padding: 0;
      border: none;

      font-size: inherit;
      line-height: 1;
      color: $color-text;

      background-color: inherit;
      outline: none;

      &::placeholder {
        color: $color-placeholder;
      }

      &:disabled {
        color: $color-disabled;
      }
    }
  }

  .text {
    font-weight: 400;

    &_error {
      color: $color-error;
    }
  }

  &:has(.wrapper.small) .label,
  &:has(.wrapper.small) .text_error {
    font-size: 12px;
  }

  &:has(.wrapper.default) .label,
  &:has(.wrapper.default) .text_error {
    font-size: 14px;
  }

  &:has(.wrapper.large) .label,
  &:has(.wrapper.large) .text_error {
    font-size: 16px;
  }
}
