// Текст
$color-text: #0a0a0a;
$color-placeholder: #a3a3a3;
$color-disabled: #9ca3af;
$color-error: #ef4444;

// Фон
$bg-default: #fff;
$input-filled-bg: #f9fafb; // light gray background for filled input
$input-filled-bg-hover: #f3f4f6;
$bg-hover: #fafafa;
$bg-focus: #fff;
$bg-disabled: #f3f4f6;
$bg-error: #fceded;

// Границы
$border-color: #d1d5db;
$border-hover: #9ca3af;
$border-focus: #279af1;
$border-error: #ef4444;
