// Text
$color-text: #0a0a0a;
$color-placeholder: #a3a3a3;
$color-disabled: #9ca3af;
$color-error: #ef4444;

// Background
$bg-default: #fff;
$bg-filled-input: #f9fafb;
$bg-hover: #fafafa;
$bg-focus: #fff;
$bg-disabled: #f3f4f6;
$bg-error: #fceded;
$bg-error-hover: #f7d7d7;
$bg-filled-input-hover: #f3f4f6;

// Border
$border-color: #d1d5db;
$border-hover: #9ca3af;
$border-disabled: #d0d1d2;
$border-focus: #279af1;
$border-error: #ef4444;
$border-error-hover: #f59a9a;
